pre {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

div.mud-tabs-panels > div > pre {
    padding-top: initial;
    padding-bottom: initial;
}

blockquote:empty {
    display: none;
    pointer-events: none;
}

blockquote:not(:empty) {
    padding: 1rem 1.5rem;
    border-radius: 6px;
    background: rgba(0,0,0,.2);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

    blockquote:not(:empty) p::before {
        content: '\201C';
        font-size: 2rem;
        padding-right: .5rem;
    }

ul, ol {
    padding: 1.5rem;
}

    ul > li, ol > li {
        padding-left: 1.2rem;
        padding-bottom: .2rem;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }


.rtl-lang {
    direction: rtl;
}

.hljs-copy-button {
    top: 2em !important;
}

    .hljs-copy-button:hover {
        filter: brightness(150%);
    }

    .hljs-copy-button[data-copied="true"] {
        padding: 1em;
        background-color: #1b5e20;
    }

        .hljs-copy-button[data-copied="true"]:hover {
            filter: none;
            background-color: initial;
        }

.mud-nav-item {
    font-size: 1.2rem;
}

.mud-navmenu > * > a > svg {
    font-size: 2rem;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.filter-shadow {
    filter: drop-shadow(0px 0px 5px rbga(0,0,0,.5));
}

.clickable {
    border: 3px solid transparent;
    cursor: pointer;
}

    .clickable:hover {
        border-width: 3px;
        border-color: var(--mud-palette-secondary-lighten);
    }

iframe {
    min-height: 60vh;
    min-width: 100%;
}

.icon-huge {
    font-size: 4rem;
}

.dim {
    filter: brightness(90%);
}

    .dim:hover {
        transition: all 0.3s ease-out;
        filter: brightness(80%);
    }

.text-align-center {
    text-align: center;
}

/* Address various Lighthouse audit issues */
.mud-snackbar.mud-snackbar-blurred {
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
}

.mud-input-control.mud-input-number-control input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.mud-tooltip-root {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.ten-twelves {
    min-width: calc(100% / 12 * 10) !important;
    width: calc(100% / 12 * 10) !important;
}

.pdf-container {
    min-height: 60vh;
    max-height: 75vh;
    overflow-y: scroll;
}

#toggle-mic > span.mud-badge-wrapper > span.mud-badge-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    inset: auto auto calc(100% - 1.2rem) calc(100% - 1rem);
}

    #toggle-mic > span.mud-badge-wrapper > span.mud-badge-icon > svg {
        font-size: 1.2rem;
        margin-inline-start: 0;
        margin-top: .1rem;
    }

#toggle-mic[mic="on"] > span.mud-badge-wrapper > span.mud-badge-icon {
    animation: active 1.5s infinite;
}

@keyframes active {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(118,106,231,0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 1.2rem rgba(118,106,231,0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(118,106,231,0);
    }
}
