<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Style="min-height: 60vh; max-height: 75vh; overflow-y: scroll">
            <!-- TODO: Make this URL dynamic -->
            <div style="@_pdfViewerVisibilityStyle">
                <iframe id="pdf-viewer" src=@($"https://localhost:7181/api/content/{Title}#view-fitV") 
                    frameborder="1" title="@Title" />
            </div>
            @if (_isLoaded is false)
            {
                <MudSkeleton />
                <MudSkeleton SkeletonType="SkeletonType.Circle" />
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="20rem" />
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
            }
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Size="Size.Large"
                   StartIcon="@Icons.Material.Filled.Close"
                   OnClick="@OnCloseClick">Close</MudButton>
    </DialogActions>
</MudDialog>